# Lab 02 - Data Structures - Annette Bazan

### Data Structures in Python:

1. Lists: They are ordered, accept duplicates, mutable
2. Tuples: They are ordered, accept duplicates, immutable
3. Sets: They are unordered, don't accept duplicates, immutable:(except for add and remove elements)
4. Dictionary: They are unordered, don't accept duplicates, mutable, and the elements of a dictionary are in pairs of key/value.

**What is ordered? An ordered element have a fixed position; therefore, we can index(accessing a single element) an element in an ordered data structure.**

**What is duplicates? When the same values have different positions.**

**What is mutable? To be able to modify or change the value of an element in a data structure.**

### 1. Lists

In [1]:
L = [1, 2, 'Annette', 3.14, True, 2]
L

[1, 2, 'Annette', 3.14, True, 2]

In [2]:
type(L)

list

#### Indexing and Slicing
1. Indexing: Accessing a single element
2. Slicing: Accessing a range of elements

In [3]:
# Let's index L and display 'Annette'
L[2]

'Annette'

In [4]:
L[-2]

True

In [5]:
# Slicing the range of 2,'Annette', 3.14 in L
L[1:4]

[2, 'Annette', 3.14]

In [6]:
# to access all the elements
L[::]

[1, 2, 'Annette', 3.14, True, 2]

In [7]:
# Reverse the order of the elements
L[::-1]

[2, True, 3.14, 'Annette', 2, 1]

In [8]:
# adding an element: append() method adds an element at the end of a list
L.append(50)
L

[1, 2, 'Annette', 3.14, True, 2, 50]

In [9]:
# deleting elements from a list
# remove() method deletes elements by their values not positions
L.remove(2)
L

[1, 'Annette', 3.14, True, 2, 50]

In [10]:
L2 = L.copy()
L2

[1, 'Annette', 3.14, True, 2, 50]

In [11]:
# making an empty list
L2.clear()
L2

[]

In [12]:
L[3] = False
L

[1, 'Annette', 3.14, False, 2, 50]

### 2. Tuples

In [13]:
T = (1, 2, 'Annette', 3.14, True, 2)
T

(1, 2, 'Annette', 3.14, True, 2)

In [14]:
T[4]

True

In [15]:
# Let's try to change the value of 3.14

#TypeError: 'tuple' object does not support item re-assignment
#T[3] = 'Python'

In [16]:
# AttributeError: 'tuple' object has no attribute 'append'
# T.append(9)

### 3. Sets

In [17]:
S = {1, 2, 'Annette', 3.14, False, 2, 0}
S

{1, 2, 3.14, 'Annette', False}

In [18]:
# Let's change the value of 2 in S
# TypeError: 'set' object does not support item assignment
# S[2] = 'Al'

In [19]:
# Let's remove False from S
S.remove(False)
S

{1, 2, 3.14, 'Annette'}

In [20]:
# Let's add an element to S
S.add('HCC')
S

{1, 2, 3.14, 'Annette', 'HCC'}

### 4. Dictionaries

In [21]:
D = {1:'a', 'B':2, 5:3.14, 'school':'HCC', 'Annette':True}
D

{1: 'a', 'B': 2, 5: 3.14, 'school': 'HCC', 'Annette': True}

In [22]:
# we can acess a value by its key
D['school']

'HCC'

In [23]:
D[5] = 'float'
D

{1: 'a', 'B': 2, 5: 'float', 'school': 'HCC', 'Annette': True}

In [24]:
# AttributeError: 'dict' object has no attribute 'add'
# D.add('key:value')

In [25]:
# adding one pair to D
D['newKey'] = 'newValue'
D

{1: 'a',
 'B': 2,
 5: 'float',
 'school': 'HCC',
 'Annette': True,
 'newKey': 'newValue'}

In [26]:
# adding more than one pair to D using the update() method
D.update({'cat':9, 'summer':'hot', 'TX':'Austin'})
D

{1: 'a',
 'B': 2,
 5: 'float',
 'school': 'HCC',
 'Annette': True,
 'newKey': 'newValue',
 'cat': 9,
 'summer': 'hot',
 'TX': 'Austin'}

In [27]:
# deleting a pair in D
D.pop('cat')
D

{1: 'a',
 'B': 2,
 5: 'float',
 'school': 'HCC',
 'Annette': True,
 'newKey': 'newValue',
 'summer': 'hot',
 'TX': 'Austin'}

In [28]:
# another way to remove a pair in dictionary is using del keyword
del D['B']
D

{1: 'a',
 5: 'float',
 'school': 'HCC',
 'Annette': True,
 'newKey': 'newValue',
 'summer': 'hot',
 'TX': 'Austin'}

In [29]:
# Shows only the keys
D.keys()

dict_keys([1, 5, 'school', 'Annette', 'newKey', 'summer', 'TX'])

In [30]:
# Shows only the values
D.values()

dict_values(['a', 'float', 'HCC', True, 'newValue', 'hot', 'Austin'])

In [31]:
# TypeError: unhashable type: 'list'
# We can't assign a mutable object as a key
# immutable_key = {1: 'a', 5: 'float', [1,2,3,4,5,]: 'HCC',}

In [32]:
immutable_key_tuple = {1:'a', 5: 'float', (1,2,3,4,5): 'HCC'}
immutable_key_tuple

{1: 'a', 5: 'float', (1, 2, 3, 4, 5): 'HCC'}

**Observation:**
1. We cannot assign a list as a key since a list is mutable.
2. Whereas, we can use a tuple as a key in a dictionary since a tuple is immutable.

### Conclusion:
1. List and Tuples are similar due to the fact they are ordered and allow duplicate values
2. List are mutable and Tuples are immutable
3. Set and Dictionary are unordered and do not allow duplicates
4. Dictionary is in pairs and mutable but you can change the values not the keys
5. Sets are immutable but we can add/remove elements
6. Indexing is accessing a single element while slicing is accessing a range it is only possible in list and tuples
7. Append adds elements it is a function which is also a form of method()
8.

### End of Lab 02