# Data Structures Lab - Annette Bazan


### Python data structures are:

1. Lists - They are:
* Ordered,
* Can have duplicates,
* Mutable (items are changeable),
* Example, [1, 2, 3, a, 2]

2. Tuples - They are:
* Ordered,
* Can have duplicates,
* Immutable (items are unchangeable),
* Example, (2, 6, 8, 6)

3. Sets - They are:
* Unordered,
* No duplicates (unique values only),
* Immutable (addable and removeable only),
* Example, {9, 1, 0, 5}

4. Dictionaries - They are:
* Unordered,
* No duplicates (unique key/value pairs)
* Mutalbe (items are changeable)
* Example, {4:'a', 'dog':1, 'N':'Annette'}

-- **What is ordered? Ordered collection of data means the elements are in order. They have a specific position when we index each element.**

-- **What is mutable? Mutable means the items are changeable, modifiable.**

-- **What are duplicates? Duplicates elements means we can have the same elements in different positions.**

In [1]:
# this is a list
L = [1, 3, 4.9, 'Annette', 3]

# this is a tuple
T = (1, 3, 4.9, 'Annette', 3)

# this is a set
S = {1, 3, 4.9, 'Annette', 3}

# this is a dictionary
D = {14: 'one and 4', 'N':'Annette', 'B':19}

In [2]:
print(L)

[1, 3, 4.9, 'Annette', 3]

In [3]:
print(T)

(1, 3, 4.9, 'Annette', 3)

In [4]:
print(S)

{1, 3, 4.9, 'Annette'}

In [5]:
print(D)

{14: 'one and 4', 'N': 'Annette', 'B': 19}

In [6]:
print('Type of L is: ', type(L))
print('Type of T is: ', type(T))
print('Type of S is: ', type(S))
print('Type of D is: ', type(D))

Type of L is:  <class 'list'>
Type of T is:  <class 'tuple'>
Type of S is:  <class 'set'>
Type of D is:  <class 'dict'>

##### Accessing elements in each data structure

### 1. Lists

In [7]:
L

[1, 3, 4.9, 'Annette', 3]

In [8]:
# Indexing the element in position 1
print(L[1])

3

In [9]:
# in list slicing, the last element will be excluded
L[1:3]

[3, 4.9]

In [10]:
# reversing the list elements
L[::-1]

[3, 'Annette', 4.9, 3, 1]

In [11]:
L2 = L.copy()

In [12]:
L2

[1, 3, 4.9, 'Annette', 3]

In [13]:
L3 = L[2:4]

In [14]:
L3

[4.9, 'Annette']

In [15]:
L3[0] = 'three'

In [16]:
L3

['three', 'Annette']

In [17]:
# adding elements to a list
L.append(30)

In [18]:
L

[1, 3, 4.9, 'Annette', 3, 30]

In [19]:
# deleting all elements in a list
L2.clear()

In [20]:
L2

[]

### 2. Tuples

In [21]:
T

(1, 3, 4.9, 'Annette', 3)

In [22]:
print(T[3])

Annette

In [23]:
# displaying elements in positions 0, 1, 2
print(T[:3])

(1, 3, 4.9)

In [24]:
# a tuple is immutable and it cannot be changed or modified.
#T[2] = 7
#T.append(2)

### 3. Sets

In [25]:
S

{1, 3, 4.9, 'Annette'}

In [26]:
S.add(25)
S

{1, 25, 3, 4.9, 'Annette'}

In [27]:
S.remove('Annette')
S

{1, 3, 4.9, 25}

### 4. Dictionaries

In [28]:
D

{14: 'one and 4', 'N': 'Annette', 'B': 19}

In [29]:
# let's index a dictionay
print(D['N'])

Annette

**When we want to access an element in a dictionary, we use the key element to access the value element in a key/value pair.**

In [30]:
# adding a key/value pair to a dictionary
D['newKey'] = 'newValue'
D

{14: 'one and 4', 'N': 'Annette', 'B': 19, 'newKey': 'newValue'}

In [31]:
D2 = {'y':'YY', 'z':10}
D2

{'y': 'YY', 'z': 10}

In [32]:
#D3 = D + D2

# updating (adding) any key and value in a dictionary
D.update({5:'Annette', 'You':8})
D

{14: 'one and 4',
 'N': 'Annette',
 'B': 19,
 'newKey': 'newValue',
 5: 'Annette',
 'You': 8}

In [33]:
# changing the value element
D['You'] = 10
# we cannot change the key but if we try to change the key, in fact, the value will be changed.
D['B'] = 'C'
D

{14: 'one and 4',
 'N': 'Annette',
 'B': 'C',
 'newKey': 'newValue',
 5: 'Annette',
 'You': 10}

In [34]:
D

{14: 'one and 4',
 'N': 'Annette',
 'B': 'C',
 'newKey': 'newValue',
 5: 'Annette',
 'You': 10}

In [35]:
# removing a key/value pair from a dictionary
del D['N']
D

{14: 'one and 4', 'B': 'C', 'newKey': 'newValue', 5: 'Annette', 'You': 10}

In [36]:
# adding a dictionary to another one
D.update(D2)

# printing the keys only
D.keys()

dict_keys([14, 'B', 'newKey', 5, 'You', 'y', 'z'])

In [37]:
# printing the values only
D.values()

dict_values(['one and 4', 'C', 'newValue', 'Annette', 10, 'YY', 10])

In [38]:
D4 = {1:L, 2:T, 3:S, 4:D }
D4

{1: [1, 3, 4.9, 'Annette', 3, 30],
 2: (1, 3, 4.9, 'Annette', 3),
 3: {1, 3, 4.9, 25},
 4: {14: 'one and 4',
  'B': 'C',
  'newKey': 'newValue',
  5: 'Annette',
  'You': 10,
  'y': 'YY',
  'z': 10}}

### Conclusion:
1. List and Tuples are similar due to the fact they are ordered and allow duplicate values
2. List are mutable and Tuples are immutable
3. Set and Dictionary are unordered and do not allow duplicates
4. Dictionary is in pairs and mutable but you can change the values not the keys
5. Sets are immutable but we can add/remove elements
6. Indexing is accessing a single element while slicing is accessing a range it is only possible in list and tuples
7. Append adds elements it is a function which is also a form of method()
8. It is more simple to not write print but just the Variable name.
9. Immutable means it can not be changed and mutable can be changed. There are exceptions to the rules for Dictionary and Set.
10. I feel like I understood this a lot more because we went through this in Data Science in person instead of just copying the HTML file.

### End of Data Structures Lab.